@media (orientation: landscape) {
    body {
        margin: auto;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        overflow: auto;
        background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
        animation: gradient 15s ease infinite;
        background-size: 400% 400%;
        background-attachment: fixed;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 0%;
        }
    }
    
    .wave {
        background: rgb(255 255 255 / 25%);
        border-radius: 1000% 1000% 0 0;
        position: fixed;
        width: 200%;
        height: 12em;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    
    .wave:nth-of-type(2) {
        bottom: -1.25em;
        animation: wave 18s linear reverse infinite;
        opacity: 0.8;
    }
    
    .wave:nth-of-type(3) {
        bottom: -2.5em;
        animation: wave 20s -1s reverse infinite;
        opacity: 0.9;
    }
    
    @keyframes wave {
        2% {
            transform: translateX(1);
        }
    
        25% {
            transform: translateX(-25%);
        }
    
        50% {
            transform: translateX(-50%);
        }
    
        75% {
            transform: translateX(-25%);
        }
    
        100% {
            transform: translateX(1);
        }
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
        background-image: url(/resources/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff; /* Set text color to white for better visibility */
}

body h1{
    text-align: center;
    color: black;
    font-size: xxx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body h6{
    text-align: center;
    font-size: x-large;
    color: black;
}

.Aadhaar{
    height: 5cm;
    width: 5cm;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url(/resources/aadhaar.png) ;
    background-size: cover;
}

.Voter{
    height: 5cm;
    width: 5cm;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 5px;
    background-image: url(/resources/ECI.png) ;
    background-size: cover;
}

.PAN{
    height: 5cm;
    width: 5cm;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 5px;
    background-image: url(/resources/pan.png) ;
    background-size: cover;
}

.ABHA{
    height: 5cm;
    width: 5cm;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 5px;
    background-image: url(/resources/abha.png) ;
    background-size: cover;
}

.DL{
    height: 5cm;
    width: 5cm;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 5px;
    background-image: url(/resources/DL.jpg) ;
    background-size: cover;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}